<div class="row-fluid">
    <div class="span4">
        <form class="form-horizontal" id="merchant-profile-form">
            <input type="text" ng-model="merchant.id" id="id" name="id" value="{{merchant.id}}" style="display: none;">
            <div class="control-group">
                <label class="control-label" for="companyName">Company Name</label>
                <div class="controls">
                    <input type="text" ng-model="merchant.companyName" id="companyName" name="companyName" placeholder="company name" required>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="website">Website</label>
                <div class="controls">
                    <input type="text" ng-model="merchant.website" id="website" name="website" placeholder="website" type="text">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="story">Story</label>
                <div class="controls">
                    <textarea ng-model="merchant.story" rows="5" cols="10" id="story" name="story" type="text" required></textarea>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="classification">Classification</label>
                <div class="controls">
                    <select id="classification" name="classification" ng-model="merchant.classification">
                        <option>Class 1</option>
                        <option>Class 2</option>
                        <option>Class 3</option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="button" ng-click="saveProfile()" class="btn btn-primary" id="createMerchantProfileBtn">Save</button>
                </div>
            </div>
        </form>
    </div>
    <div class="span2">
        <form id="fileupload" action="/images/temp/image" method="POST" enctype="multipart/form-data">
            <div class="fileupload-buttonbar">
                <div style="margin-left: -8px; padding-bottom: 22px; padding-top: 10px;">
                    <img class="thumbnail" ng-src="{{merchant.profileImageUrl || 'img/140_placeholder.png'}}" id="merchantProfilePhotoTemp" alt="profileimage" style="width: 140px; height: 140px;"/>
                </div>
                <span class="btn btn-success fileinput-button">
                    <i class="icon-plus icon-white"></i>
                    <span>Profile Photo</span>
                    <input type="file" name="files[]">
                </span>
            </div>
            <div class="span5 fileupload-progress fade">
                <!-- The global progress bar -->
                <div id="progress" class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="bar" style="width:0%;"></div>
                </div>
                <!-- The extended global progress information -->
                <div class="progress-extended">&nbsp;</div>
            </div>
        </form>
    </div>

    <div class="span6" id="merchLocationList">
        <h5>Your Locations</h5>
        <table class="table table-bordered table-striped">
            <tr ng-repeat="location in locations">
                <td><img class="thumbnail" ng-src="{{location.locationImages[0].url || 'img/140_placeholder.png'}}" height="20px" width="20px"/></td>
                <td>{{location.location.name}}</td>
                <td>{{location.location.address}}</td>
            </tr>
        </table>
    </div>

</div>
